<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%- title %></title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/style/bootstrap.css" />
    <link rel="stylesheet" href="./assets/style/all.css" />
  </head>

  <body>
    <nav class="navbar navbar-expand-lg border-bottom">
      <div class="container-fluid">
        <div>
          <a href="#">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/logo-fixie.svg"
              alt="fixie"
            />
          </a>
        </div>
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active fs-4 fw-bold"
                aria-current="page"
                href="#"
                >Product</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link fs-4 fw-bold ms-5" href="#">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-4 fw-bold ms-5" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <%- contents %>

    <footer class="container bg-info">
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <ul class="footer-nav d-flex me-auto mb-2 mb-lg-0 list-unstyled">
            <li class="footer-item">
              <a
                class="footer-link fs-6 fw-bold active mx-5"
                aria-current="page"
                href="#"
                >Product</a
              >
            </li>
            <li class="footer-item">
              <a class="footer-link fs-6 fw-bold me-5" href="#">Blog</a>
            </li>
            <li class="footer-item">
              <a class="footer-link fs-6 fw-bold" href="#">Contact</a>
            </li>
          </ul>
        </div>
        <p class="fs-6 text-gray6 my-3">© 2020 Fixie. All Rights Reserved.</p>
        <div>
          <a href="#" class="d-block py-4">
            <img
              src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week7/logo-fixie.svg"
              alt="fixie"
            />
          </a>
        </div>
      </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>
</html>
